NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLW_SECRET_HASH=

RESEND_API_KEY=
ORDER_NOTIFICATION_EMAIL=
ORDER_NOTIFICATION_FROM="Dolapo Orders <onboarding@resend.dev>"
