NEXT_PUBLIC_SUPABASE_URL=sb_publishable_RYq8BXDV4MzZKg9Wx6IUIg_Sv1ggvQf
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1laHR1cHZiend1amRlemh4ZG1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NjA0MjYsImV4cCI6MjA5NDQzNjQyNn0.QSYu7xvLFO7B36eTK4wq-nP5hDvwYvxYLCfPuzFChEI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1laHR1cHZiend1amRlemh4ZG1hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg2MDQyNiwiZXhwIjoyMDk0NDM2NDI2fQ.y5LCz9LUOY1CEVNaczclUOfPjWHnkqQORHo4X1z7Sg8

NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=713cc671-bbe8-418f-8a06-3ebd87d77ca6
FLUTTERWAVE_SECRET_KEY=VX8CxqBj2Fq9V42bLGB8GTPpU3puESVO
FLW_SECRET_HASH=lackyhair_flutterwave_2026_secure_hash

RESEND_API_KEY=re_7ed1C99t_P7hFTtSyk1XhfrjGmnYebuuq
ORDER_NOTIFICATION_EMAIL= jchibuike75@gmail.com
ORDER_NOTIFICATION_FROM=jeochibyke123@gmail.com
